#telaDeLogin{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
#container{
    box-shadow: 0 0 10px rgb(197, 197, 197);
    padding: 20px;
}
#logoSistemaLogin{
    width: 60px;
}
#nomeSistemaLogin{
    font-size: 25px;
    color: black;
}
#tituloLogin{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
#mensagemDeErro{
    background-color: rgba(255, 0, 0, 0.475);
    border: 1px rgba(255, 0, 0, 0.822) solid;
    color: white;
    font-size: 12px;
    padding: 8px 5px; 
    margin-bottom: 15px;
}
#divInput{
    border: 1px rgb(129, 129, 129) solid;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 15px;
}
.label{
    font-size: 13px;
    margin-bottom: 3px;
    color: rgb(96, 96, 96);
}
.input {
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 300px;
}
.btnAcessar{
    width: 100%;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color:#055CDD;
    border: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 5px;
    font-size: 15px;

}