.pagina-desativada{
    display: none;
}
#main{
    width: 82%;
    min-height: 100vh;
    background-color: rgb(217, 217, 217);
    margin-left: 18%;
}

#main > header + section{
    padding: 70px 25px 25px 25px;
}

#tituloDaPagina{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
#tituloDaPagina__nome{
    display: flex;
}
#tituloDaPagina__icone{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    background-color: #19B3FA;
    border-radius: 5px;
    color: white;
    box-shadow: 0 0 5px rgb(167, 167, 167);
}
#tituloDaPagina__icone i{
    font-size: 27px;
}
#tituloDaPagina__textos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 17px;
    padding: 3px 0;
    box-sizing: border-box;
}
#tituloDaPagina__textos h2{
    font-weight: bold;
    color: rgb(42, 42, 42);
}
#tituloDaPagina__textos span{
    font-size: 14px;
}
#caminhoDasEtapas{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding-right: 15px;
}
#caminhoDasEtapas i{
    font-size: 18px;
    color: rgb(89, 89, 89);
}
.barraSeparadora{
    margin: 0 6px;   
}
#caminhoDasEtapas a{
    text-decoration: none!important;
    color: rgb(61, 61, 61);
    font-weight: 400;
    cursor: pointer;
}

#mensagemDeErro{
    background-color: red;
}








.secaoDeInformacoes{
    background-color: rgb(251, 251, 251);
    border-radius: 4px;
    margin-top: 15px;
    box-shadow: 0 0 6px rgb(188, 188, 188);
}
.secaoDeInformacoes #divBtnNovo{
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px;
    border-bottom: 1px rgb(198, 198, 198) solid;
}
.secaoDeInformacoes #btnAdicionarNovo{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px 15px;
    color: white;
    background-color: #19B5FE;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.secaoDeInformacoes #btnAdicionarNovo i{
    font-size: 12px;
    font-weight: 600;
}
.secaoDeInformacoes #divBtnVoltar{
    display: flex;
    padding: 20px 20px;
    border-bottom: 1px rgb(198, 198, 198) solid;
}
.secaoDeInformacoes #btnVoltar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    padding: 7px 10px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(102, 102, 102);
    transition: 200ms;
}
.secaoDeInformacoes #btnVoltar i{
    font-size: 14px;
    font-weight: 600;
    margin-right: 1px;
    color: rgb(102, 102, 102);
}
.secaoDeInformacoes #btnVoltar:hover{
    background-color: rgb(226, 226, 226);

}




.secaoDeInformacoes .divCamposSelectEBuscaDaTabela{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}
.secaoDeInformacoes .divCamposSelectEBuscaDaTabela label{
    font-size: 15px;
}
.secaoDeInformacoes .selectFiltros{
    background-color: #f4f4f4;
    border: none;
    font-family: 'Montserrat', sans-serif;
    padding: 9px 20px 9px 10px!important;
    border-radius: 5px;
    appearance: none;
    outline: none;
    background-repeat: no-repeat;
    background-position: center right 5px;
    background-size: 10px;
    margin-left: 5px;
    margin-top: 7px;
}
.secaoDeInformacoes .inputPesquisar{
    background-color: #f4f4f4;
    border: none;
    outline: none;
    padding: 6px 4px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    margin-left: 5px;

}
.secaoDeInformacoes .containerTabela{
    padding: 0 10px ;
}



.tabelaPadrao{
    width: 100%;
    font-size: 13px;
    color: rgb(55, 55, 55);
    font-weight: 500;
}   
.tabelaPadrao thead{
    background-color: #F6F8FB;
    padding: 10px;
}
.tabelaPadrao thead tr{
    background-color: #F6F8FB;
    padding: 10px;
    border-top: 1px solid #dee2e6;
}
.tabelaPadrao thead td{
    background-color: #F6F8FB;
    padding: 10px 5px;
}
.tabelaPadrao tbody{
    border-top: 2px solid #dee2e6;
}
.tabelaPadrao tbody tr{
    border-bottom: 1px solid #dee2e6;
}
.tabelaPadrao td{
    padding: 5px 5px;
}

.zayDataTable_acoes{
    display: flex;
    justify-content: flex-end;
}
.zayDataTable__nav_paginacao{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
}
.zayDataTable__btnNumeroPaginacao{
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    color: rgb(88, 88, 88);
}
.zayDataTable__btnNumeroPaginacao:nth-child(2){
    margin-left: 0px!important;
}
.zayDataTable__btnPaginacaoAtivado{
    background-color: #dedede;
}
.zayDataTable__btn_voltar_e_avancar_pagina{
    font-size: 19px;
    margin: 0 15px;
    color: rgb(144, 144, 144);
    cursor: pointer;
    font-weight: 600;
    user-select: none;
}
.zayDataTable__btn_paginacao_desativado{
    color: rgb(203, 203, 203);
}
.p_textoAtivo{
    background-color: #2DCE89;
    color: white;
    padding: 4px 0px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    width: 58px;
}
.p_textoAtivo i{
    font-size: 15px;
    font-weight: 600;
    margin-right: 3px;
}
.p_textoInativo{
    background-color: #FB6340;
    color: white;
    padding: 4px 0px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    width: 58px;
}
.p_textoInativo i{
    font-size: 15px;
    font-weight: 600;
    margin-right: 3px;
}
.tabela__btnEditar{
    font-size: 19px;
    padding: 5px;
    background-color: #006FE6;
    outline: none;
    border: none;
    color: white;
    border-radius: 50%;
    cursor: pointer;  
    margin-left: 5px;
    text-decoration: none;
}
.tabela__btnExcluir{
    font-size: 19px;
    padding: 5px;
    background-color: #F41E48;
    outline: none;
    border: none;
    color: white;
    border-radius: 50%;
    cursor: pointer; 
    margin-left: 5px;
}
.mensagemSemRegistros{
    padding: 12px;
    text-align: center;
}





.formPadrao{
    padding: 20px;
}
.formPadrao__divSalvarECancelar{
    margin-top: 15px;
    display: flex;
}
.linhaInputs{
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
}
.linhaInputs label{
    display: flex;
    flex-direction: column;
    width: 31%;
    font-size: 13px;
}
.labelInput10{
    width: 8%!important; 
}
.labelInputMenor{
    width: 15%!important;
}
.labelInput22{
    width: 22%!important;
}
.labelInputMeio{
    width: 48%!important;
}
.labelInputMaior{
    width: 66%!important;
}
.labelInput100{
    width: 100%!important;
}
.linhaInputs input, select, textarea{
    font-family: 'Montserrat', sans-serif;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px #eaeaea solid;
    height: 33px;
    border-radius: 4px;
    margin-top: 7px;
    color: rgb(55, 55, 55);
}
.inputDesativado{
    background-color: rgb(235, 235, 235);
}
.formPadrao__btnSalvar{
    background-color: #006FE6;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    padding: 7px 14px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
}
.formPadrao__btnSalvar i{
    font-size: 18px;
    margin-right: 3px;
}
.formPadrao__btnSalvar:hover{
    background-color: #0061c9;
}
.formPadrao__btnVoltar{
    background-color: rgb(235, 235, 235);
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    padding: 7px 15px!important;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: 300ms;
    color: black!important;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formPadrao__btnVoltar:hover{
    background-color: rgb(215, 215, 215);
}
.msgErroInput{
    color: #fc204c;
    margin-top: 2px;
    font-size: 13px;
}


.campoDeAcoes {
    display: flex;
    justify-content: flex-end;
}